@import url("https://fonts.googleapis.com/css?family=Cabin");
.home {
    margin: 20px;
    width: 100%;
    height: 100%;
}

.xrpSymbol {
    vertical-align: bottom;
}

.bigButton {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 50%;
    height: 50%;
    border-width: 2px;
    border-radius: 50%;
    text-align: center;
    font-family: "Cabin", bold, arial, sans-serif;
    font-size: calc(10px + 6vmin);
    color: #1c1e21;
    padding: 16px;
    margin: 0 auto;
}

.navButtons {
    background-color: aliceblue;
    width: 50%;
    border-width: 2px;
    border-radius: 50%;
    text-align: center;
    font-family: "Cabin", bold, arial, sans-serif;
    font-size: calc(10px + 8vmin);
    color: #1c1e21;
    padding: 2%;
}