.container {
    border-width: 4px;
    border-radius: 16px 16px 16px 16px;
    border: 2px solid #31313152;
    background-color: #f9f9f9c2;
    padding: 15%;
    color: #1c1e21;
    font-family: "Cabin", arial, sans-serif;
    letter-spacing: 1px;
}

.message {
    font-size: calc(10px + 4vmin);
    word-wrap: normal;
}

.messageAnswer {
    font-family: bold;
    font-size: calc(14px + 10vmin);
}

.messageQuestion {
    font-family: bold;
    font-size: calc(14px + 4vmin);
    margin-bottom: 2rem;
}

.answerContainer {
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.6rem;
    background-color: rgb(61, 175, 252);
    margin: 0.5rem;
    padding: 1rem;
}

.messageInfo {
    font-family: "Cabin", arial, sans-serif;
    font-size: calc(14px + 2vmin);
    padding: 0.5rem;
}

.infoContainer {
    margin-top: 4%;
    border-width: 4px;
    border-radius: 16px 16px 16px 16px;
    border: 2px solid #31313152;
    background-color: #f9f9f9a2;
    padding: 4px;
    color: #1c1e21;
    font-family: "Cabin", arial, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
}

.muted {
    opacity: 0.5;
}